* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f4f4f4;
    line-height: 1.6;
}


.login-btn button {
    transition: background-color 0.3s ease, transform 0.2s ease;

    margin-left: auto; 
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: white;
    cursor: pointer;
}

.login-btn button:hover {
    transition: background-color 0.3s ease, transform 0.2s ease;

    background-color: hsl(0, 79%, 40%);
    transform: scale(1.05); 
}

.header-section {
    background-color: #1e1e1e;
    color: #e74c3c;
    padding: 20px;
    text-align: center;
}

.header-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.main-content {
    padding: 40px 20px;
    text-align: center;
}

.about-intro {
    margin-bottom: 40px;
}

.footer-section {
    background-color: #1e1e1e;
    color: #e74c3c;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-section p {
    font-size: 14px;
}