#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: linear-gradient(to right, #8a0000, #5e0d0d); 
    width: 0%;
    z-index: 1000;
    transition: width 0.3s ease;
}


