body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}
 .card button{
    background: linear-gradient(90deg, #ff4500, #ff8c00);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    display: inline-flex;
    align-items: center;
} 
.card button::before {
    content: "✦";
    margin-right: 5px;
    font-size: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #650808;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 300px;
    padding: 10px;
    border: 2px solid #eeeeee;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #650808;
    color: white;
    
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}
